.create-article {
  font-family: "Roboto Regular";
  color: #262626;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  box-shadow: 0px 0.61px 2.93px 0px #00000005, 0px 1.46px 7.05px 0px #00000007,
    0px 2.75px 13.27px 0px #00000009, 0px 4.91px 23.68px 0px #0000000b,
    0px 9.19px 44.28px 0px #0000000d, 0px 22px 106px 0px #00000012;
  padding: 48px 32px;
  margin-top: 59px;
  width: 938px;
  height: auto;

  &__fieldset {
    border: none;
    padding: 0;
    margin: 0;
  }

  &__legend {
    font-family: "Roboto Medium", sans-serif;
    font-size: 20px !important;
    line-height: 28px !important;
    text-align: center;
    color: inherit !important;
    border: none !important;
    margin-bottom: 21px !important;
  }

  &__item-input {
    margin-bottom: 21px;
  }

  &__input-title,
  &__input-description,
  &__input-tag-list {
    padding: 0;
    padding: 8px 12px;

    &::placeholder,
    &::placeholder,
    &::placeholder {
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: #bfbfbf;
    }
  }

  &__text-area {
    height: 168px !important;
    min-height: 168px !important;
  }

  &__tag {
    width: 300px;
    margin-right: 17px;
  }

  &__actions {
    text-align: left;
    margin: 0;
    margin-top: 21px;
  }

  &__btn {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
    background-color: #1890ff;
    width: 319px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}
