.article {
  font-family: "Inter UI", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 26px 251px 64px;

  &__body {
    width: 938px;
    height: auto;
    background-color: #ffffff;
    box-shadow: 0px 4px 12px 0px #00000026;
    padding: 14px 15px 14px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
  }

  &__body-header {
    display: flex;
    justify-content: space-between;
  }

  &__body-title {
    display: inline-block;
    max-width: 588px;
    height: auto;
    color: #1890ff !important;
    font-family: inherit;
    font-size: 20px !important;
    line-height: 28px !important;
    font-weight: 400 !important;
    margin: 0px 13px 4px 0px !important;
  }

  &__body-btn {
    width: 34px;
    height: 22px;
    line-height: 22px;
    font-family: inherit;
    font-size: inherit;
    color: rgba(0, 0, 0, 0.75);
  }

  &__body-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  &__body-tag {
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    max-width: 80px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    margin: 0px 0px 4px 0px;
  }

  &__body-description {
    height: auto;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
    margin: 0px !important;
    text-align: left;
    font-family: inherit;
    font-size: inherit;
  }

  &__body-text {
    font-family: inherit;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
  }

  &__body-author-data {
    display: flex;
    gap: 12px;
    max-width: 261px;
    max-height: 46px;
  }

  &__body-author-data-name {
    height: 28px;
    font-size: 18px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.85);
    text-align: center;
  }

  &__body-author-data-date {
    height: 22px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.5);
  }
}
