@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto Regular"), url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"), url("../assets/fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page {
  background-color: #ebeef3;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}

#root {
  width: 1440px;
}
