html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page {
  background-color: #ebeef3;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}

#root {
  width: 1440px;
}
